.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

@keyframes ufo {
	0% {
		-webkit-filter: drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 20px rgba(50,10,100,1));
		transform: translate3d(0px, 0px, 0px);
	}
	50% {
		-webkit-filter: drop-shadow(0px 0px 8px white) drop-shadow(0px 0px 35px rgba(100,50,100,1));
		transform: translate3d(0px, -25px, 0px);
	}
	100% {
		-webkit-filter: drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 20px rgba(50,10,100,1));
		transform: translate3d(0px, 0px, 0px);
	}
}

@keyframes float {
	0% {
		-webkit-filter: drop-shadow(0px 5px 15px rgba(0,0,0,0.6));
		transform: translatey(0px);
	}
	50% {
		-webkit-filter: drop-shadow(0px 25px 18px rgba(0,0,0,0.2));
		transform: translatey(-20px);
	}
	100% {
		-webkit-filter: drop-shadow(0px 5px 15px rgba(0,0,0,0.6));
		transform: translatey(0px);
	}
}

.ufo {
	-webkit-filter: drop-shadow(0px 0px 2px white) drop-shadow(0px 0px 20px rgba(50,10,100,1));
	transform: translate3d(0px, 0px, 0px);
	animation: ufo 3s ease-in-out infinite;
}

.logo {
	margin: 0 auto;
	width: 100%;
	-webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,0.6));
	filter: drop-shadow(0 5px 15px rgba(0,0,0,0.6));
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@media (min-width: 512px) {
	.logo {
		width: auto;
		height: 60vh;
	}
}

.heroDivider {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.heroDivider :global(svg) {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
    transform: rotateY(180deg);
}

.heroDivider :global(.shape-fill) {
    fill: #113;
}

.intro {
	width: 100%;
	background-color: #113;
	position: relative;
}
